{% extends 'base.html.twig' %}

{% block title %}Wszystkie produkty{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<h1>Wszystkie produkty</h1>
<ul>
    {% for product in products %}
        <li>
            <a href="{{ path('zaktualizuj-produkt', {'id': product.id}) }}">
                {{ product.name }} - {{ product.price }}
            </a>
        </li>
    {% endfor %}
</ul>
<a href="{{ path('admin_panel') }}">Panel administratora</a>
{% endblock %}
